/*STYLE CRIADO DURANTE ESTUDOS EM CASA*/

body
        {
            font-family: Arial, Helvetica, sans-serif;
            background-image: linear-gradient(90deg, rgb(210, 20, 144), rgb(251, 151, 10));
        }
        form
        {
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 50px;
            border-radius: 20px;
            color: antiquewhite;
        }
        
        input
        {
            border-radius: 5px;
            outline: none; 
            font-size: 15px;
        }


        a
        {
            background-color: gray;
            border-radius: 4px;
            font-size: 16px;
            padding: 5px;
            padding-right: 10px;
            cursor: pointer;
            color: black;
        }
        a:hover
        {
            background-color: rgb(190, 188, 188);
        }

        label
        {
            font-size: 18px;
        }